@tailwind base;

@tailwind components;

@tailwind utilities;

/* Hamburger Menu */
.hamburger-top {
  top: 20px;
  left: 15px;
}

.hamburger-bottom {
  bottom: 18px;
  left: 15px;
}

.bar {
  @apply bg-gray-300;
  display: block;
  width: 17px;
  height: 1px;
  border-radius: 0.5px;
  position: absolute;
  z-index: 1;
}

#hamburger:hover .bar {
  @apply bg-white;
}

.hamburger-top-wrapper,
.hamburger-bottom-wrapper {
  transform: none;
  transition: transform 0.1s;
}

.hamburger-top,
.hamburger-bottom {
  background-color: "rgba(45, 45, 45, 0.98)";
  transform: none;
  transition: transform 0.2s ease 0.1s;
}

.hamburger-active .hamburger-top-wrapper {
  transform: rotate(45deg);
  transition: transform 0.2s ease 0.1s;
}

.hamburger-active .hamburger-bottom-wrapper {
  transform: rotate(-45deg);
  transition: transform 0.2s ease 0.1s;
}

.hamburger-active .hamburger-top {
  transform: translateY(2px);
  transition: transform 0.1s;
}

.hamburger-active .hamburger-bottom {
  transform: translateY(-4px);
  transition: transform 0.1s;
}
